body{
    background-image: url("images/poker-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1 {
            font-size: 5rem;
            margin-bottom: 1rem;
            color: #f9ca24;
        }



  /* Button Styles */
  .btn {
    background: #f9ca24;
    border: none;
    color: #06402b;
    padding: 0.8rem 1.5rem;
    font-size: 6rem;
    border-radius: 10px;
    margin: 0.5rem;
    font-weight: bold;
}

.btn:hover {
    background: #f0932b;
}